/* Text colors */

.text-primary {
    color: #28a745;
}

.text-seconday {
    color: #0284d0;
}


/* Button */

.btn {
    cursor: pointer;
    display: inline-block;
    color: #f4f4f4;
    background-color: #28a745;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.9;
}

.btn-primary {
    background-color: #28a745;
    color: #f4f4f4;
}

.btn-secondary {
    background-color: #0284d0;
    color: #f4f4f4;
}

.btn-dark {
    background-color: #333;
    color: #f4f4f4;
}

.btn-light {
    background-color: #f4f4f4;
    color: #333;
}